html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "-apple-system", BlinkMacSystemFont, "Apple SD Gothic Neo", Inter,
    Lato, "Noto Sans KR", "Spoqa Han Sans", "Segoe UI", sans-serif;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
